<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<!-- 日志文件  appender定义
	<appender name="LOGFILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="dali2.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%t] %-5p %c - %m%n" />
		</layout>
	</appender> -->

	<!-- 屏幕输出  appender定义 -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%t] %-5p %c - %m%n" />
		</layout>
	</appender>

	<!-- 业务信息默认为INFO级别
	<logger name="com.sharemi.view">
		<level value="DEBUG" />
	</logger>  -->
	
	<logger name="java.sql">
		<level value="DEBUG" />
		<!-- <level value="INFO" /> -->
	</logger>

	<!-- 整体默认为WARN级别  -->
	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
		<!--
		<appender-ref ref="LOGFILE" />-->
	</root>

</log4j:configuration>